.container{
    padding: $s-12; 
    color: $text-primary;
    font-size: $f-md;
    font-weight: $regular;
    background-color: $background-third;
    border: 1px solid $border-primary;
    border-radius: $s-12;
}

