.container {
    width: 300px;
    height: 100%;
    background: $background-primary;
    padding: $s-16;
}

.profileCard {
    width: 100%;
    padding: $s-12;
    background: $background-third;
    border-radius: $s-12;
}

.profileAvatar{
    background-color: $text-secondary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profileInfo{
    p{
        font-size: $f-sm;
        font-weight: $medium;
        color: $text-primary;
    }
    span{
        font-size: 10px;
        font-weight: $medium;
        color: $text-secondary;
    }
}