

@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wanted Sans Variable', sans-serif;
}