.container {
    height: 100vh;
    width: 100vw;
}

.contents{
    width: 100%;
    height: 100%;
    background-color: $background-secondary;
    padding: $s-32;
    h1{
        font-size: $f-xxl;
        font-weight: $bold;
        color: $text-primary;
    }
}