.container {
    height: 100vh;
    width: 100vw;
    color: $text-primary;
}

.contents{
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    background-color: $background-secondary;
    padding: $s-32;
    h1{
        font-size: $f-xxl;
        font-weight: $bold;
        color: $text-primary;
    }
}

.tilSection{
    width: 100%;
    
}

.middleSection{
    width: 100%;
    padding: $s-12;
}

.recentTils {
    p{
        font-size: $f-md;
        color: $text-primary;
        font-weight: $medium;
    }
    span{
        font-size: $f-xs;
        color: $text-secondary;
        font-weight: $medium;
    }
}

.tilStats {
    p{
        font-size: $f-md;
        color: $text-secondary;
        font-weight: $medium;
    }
    h3{
        font-size: $f-lg;
        color: $text-primary;
        font-weight: $medium;
    }
}

.recentSection{
    width: 100%;
    height: 100%;
}

.calendar{
    width: 100%;
}

.link{
    text-decoration: none;
    color: $text-primary;
    &:hover{
        text-decoration: underline;
    }
}