.container {
    padding: $s-pagePadding;
}

.createButton {
    background-color: $text-primary !important;
    color: $background-primary !important;
    padding: $s-16 $s-16 !important;
    border-radius: $s-8 !important;
    font-size: $f-sm !important;

    &:hover {
        background-color: $background-third !important;
    }
}