@import "@/constants/COLORS.scss";
@import "@/constants/FONTS.scss";
@import "@/constants/SPACING.scss";

.container {
    padding: $s-pagePadding;
    background-color: $background-secondary;
    overflow-y: scroll;
}

.myTILCardContainer {
    padding: $s-12;
}

.tilList {
    padding: $s-16;
}

.writeButton {
    background-color: $text-primary !important;
    padding: $s-12;
    white-space: nowrap;
}