.container {
    padding: $s-pagePadding;
}

.contents {
    padding: $s-16;
}

.dateSelect {
    p {
        font-size: $f-md;
        color: $text-primary;
        font-weight: $regular;
    }
}

.createButton {
    background-color: $text-primary !important;
    color: $background-primary !important;
    padding: $s-16 $s-12;
    white-space: nowrap;
}