.container {
    padding: $s-48;
    background-color: $background-secondary;
    min-height: 100vh;
    overflow-y: scroll;
}

.header {
    border-bottom: 1px solid $background-third;
    padding-bottom: $s-24;

    p {
        color: $text-secondary;
        font-size: $f-sm;
    }
}

.editorContainer {
    background-color: $background-secondary;
    border-radius: $s-12;
    padding: $s-24;
    border: 1px solid $background-third;
}

.actions {
    margin-top: $s-24;
}

.titleInput {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: $f-xl !important;
    font-weight: $semi-bold !important;
    color: $text-primary !important;
    padding: $s-12 0 !important;

    &:focus {
        border-bottom-color: $border-primary !important;
    }
}

.cancelButton {
    background-color: $background-third !important;
    color: $text-primary !important;
    padding: $s-12 $s-20 !important;
    border-radius: $s-8 !important;
}

.publishButton {
    background-color: $background-fourth !important;
    color: $text-primary !important;
    padding: $s-12 $s-20 !important;
    border-radius: $s-8 !important;
}