.container{
    width: 100vw;
    height: 100vh;
    background-color: $background-secondary;
}

.overviewSection {
    width: 100%;
    p{
        font-size: $f-md;
        font-weight: $medium;
        color: $text-primary;
    }
}

.sessionsSection {
    width: 100%;
}

.sessionList{
    padding: $s-12;
}

.membersList{
    padding: $s-12;
}

.memberCard{
    background-color: $background-third;
    border-radius: $s-12;
    border: 1px solid $border-primary;
    padding: $s-16 $s-12;
}

.moreCount{
        font-size: $f-md;
        font-weight: $medium;
        color: $text-primary;
    
}