$background-primary : #131416;
$background-secondary: #1D1E20;
$background-third: #26282B;
$background-fourth: #313337;

$text-primary: #fdfdfe;
$text-secondary: #959595;
$text-correct: #89DA7F;
$text-wrong: #ff4d4f;

$border-primary: #474747;