.container{
    width: 100%;
    height: 400px;
    border-radius: $s-12;
    --fc-border-color: #{$border-primary};
    color: $text-primary;
    :global(.fc) {
        border: none;
    }

    :global(.fc-button) {
        background-color: $background-third;
        border: 1px solid $border-primary;
        color: $text-primary;
        border-radius: $s-12;
        &:hover {
            background-color: $text-secondary;
        }
        
        &:active {
            background-color: $background-primary;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            background-color: $background-third;
            &:hover {
                background-color: $background-third;
            }
        }
    }

    :global(.fc-day-today) {
        background-color: $background-primary !important;
    }
}

.day{
    width: 100%;
    background-color: $background-third;
    color: $text-primary;
}
