.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

.cell {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: $background-fourth; // default (0)
    border : 1px solid $border-primary
}

// Colors for scale 1-10
.scale-1 { background-color: #9be9a8; }
.scale-2 { background-color: #8dd699; }
.scale-3 { background-color: #7bc48a; }
.scale-4 { background-color: #69b17b; }
.scale-5 { background-color: #569e6c; }
.scale-6 { background-color: #448c5d; }
.scale-7 { background-color: #31794e; }
.scale-8 { background-color: #1f663f; }
.scale-9 { background-color: #0d5330; }
.scale-10 { background-color: #004021; }
