.container {
    padding: 48px 128px;
}

.sessionList {
    height: 100%;
    color: $text-primary;
    padding: $s-16;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.sessionOverlay {
    width: 100%;
    height: 100%;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top,$background-primary 5%, rgba(0, 0, 0, 0.0)21%);
        pointer-events: none;
        z-index: 1;
    }
}