.container {
    width: 100%;
    padding: $s-16 $s-16;
    color: $text-primary;
}

.toolbar {
    padding: $s-8;
    border-bottom: 1px solid $border-primary;
    gap: $s-8;
    flex-wrap: wrap;
}

.toolbarButton {
    padding: $s-4 $s-8;
    color: $text-secondary;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;

    &:hover {
        background-color: $background-third;
        color: $text-primary;
    }

    &.isActive {
        background-color: $text-primary;
        color: $text-primary;
    }
}

.editor {
    padding: $s-16;
    border-bottom: 1px solid $border-primary;

    &:focus {
        border-bottom: 1px solid $text-primary;
        outline: none;
    }

    ul, ol {
        padding-left: $s-24;
        margin: $s-8 0;
        
        li {
            margin-bottom: $s-4;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    blockquote {
        border-left: 3px solid $border-primary;
        padding-left: $s-16;
        margin: $s-8 0;
        color: $text-secondary;
        font-style: italic;
    }

    pre {
        background: $background-primary;
        padding: $s-12;
        border-radius: 8px;
        font-family: 'JetBrains Mono', monospace;
        margin: $s-8 0;
        
        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 14px;
        }
    }
}

.editorContent {
    width: 100%;
}